body {
    font-family: Arial, sans-serif;
    background-color: #ffc0cb;
    text-align: center;
    padding: 20px;
}

h1 {
    
    color: #ffc0cb;
}

p {
    font-size: 18px;
    color: #ffc0cb;
}
